# PostgreSQL Connection
PGUSER=your_db_user
PGPASSWORD=your_db_password
PGHOST=your_db_host
PGDATABASE=your_db_name
PGPORT=5432

# Puerto que usará el servidor (Render lo setea automáticamente)
PORT=3001

# Credenciales entorno capacitacion

USER_TEST=user
PASS_TEST=password